// App.scss

// Stile per l'intestazione h1
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  // Stile per il componente MovieCards
  .MovieCards {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  
    // Stili per le specifiche del film all'interno del MovieCard
    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .overview {
      font-size: 14px;
      color: #666;
      margin-bottom: 10px;
    }
  
    .vote_average {
      font-size: 16px;
      color: #333;
      margin-bottom: 10px;
    }
  
    .poster_path {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
  
  // Stile per il componente SearchBar
  .SearchBar {
    margin-bottom: 20px;
  
    input[type="text"] {
      width: 200px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px;
    }
  
    button {
      padding: 8px 16px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #555;
      }
    }
  }
  